<%= form_for todo do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %><br>

  <%= f.label :time %>
  <%= f.datetime_field :time %><br>

  <%= f.collection_select :category_id, Category.all, :id, :name %><br>

  <%= f.label :attended %>
  <%= f.check_box :attended %>

  <%= f.fields_for :category, @todo.build_category do |category_form| %>
    <%= category_form.label :name, "Category" %>
    <%= category_form.text_field :name %><br>
  <% end %>

  <br>
  <%= f.submit %>

  <% if todo.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(todo.errors.count, "error") %> prohibited this todo from being saved:</h2>
    <ul>
      <% todo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<% end %> 
  
    
  
     
  

