<p id="notice"><%= notice %></p>

<p> Title: <%= @todo.title %></p>

<p> Category: <%= @todo.category %></p>

<p> Time: <%= @todo.time.strftime("%a %-m/%-d/%y: %H:%M %Z") %></p>

<p>Attended: <%= @todo.attended %></p>

<%= link_to 'Edit', edit_todo_path(@todo) %> |
<%= link_to 'Back', todos_path %>
