<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @todo.title %>
</p>

<p>
  <strong>Time:</strong>
  <%= @todo.time.strftime("%a %-m/%-d/%y: %H:%M %Z") %>
</p>

<p>
  <strong>Attended:</strong>
  <%= @todo.attended %>
</p>

<%= link_to 'Edit', edit_todo_path(@todo) %> |
<%= link_to 'Back', todos_path %>
